
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Appland Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/index.png" rel="icon">
  <link href="static/assets/img/index.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!--  Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- my styling  -->
  <style>
    p{
      color:red;
      font-size: 13px;
    }
  </style>

</head>
<body>
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/"><b>ग्राम</b></a></h1>
        
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="get-started"><a class="bg-success" href="/logout">Logout</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
   
  <main id="main">

<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
    <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/complaint">Complaint</a></li>
          <li><a href="/schemes">Schemes</a></li>  
          <li><a href="/notice">Notice</a></li> 
          <!-- <li><a href="/bugets">Budget</a></li> -->
          <li><a href="/appointment">Appointment</a></li> 
         
        </ul>
      </nav><!-- .nav-menu -->
    </div>

  </div>
</section><!-- End Breadcrumbs Section -->

