<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width," name="viewport">

  <title>Gram Management</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/index.png" rel="icon">
  <link href="static/assets/img/index.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">
  <!-- google translator start -->
  <!-- <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate">
  </script>
  <script>
      function loadGoogleTranslate(){
          new google.translate.TranslateElement(
              "google_element");
      }
  </script> -->
  <!-- google translator end -->

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  header-transparent ">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/"> <b>ग्राम</b> </a></h1>
        
      
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>  
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#features">About</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#contact">Contact Us</a></li>
          <li class="get-started "><a href="/verifyemail" >Register</a></li>
          <li class="get-started"><a href="/login" class="bg-success">Login</a></li>
          
        </ul>
      </nav><!-- .nav-menu -->

    </div>
    <div id="google_element"></div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
          <div>
            <h1>Introduction</h1>
            <h2> Gram management system is a web-based application. Where the villager can 
            easily communicate with village councils to solve their problem or to inquiring about
            any Government schemes etc.</h2>
            
          </div>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
          <img src="static/assets/img/index.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= App Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title">
          <h2> <b>Objective</b> </h2>
          <h3> <b>•</b> Our project is aimed at acheiving the solution for the problems that are faced by the public in village.  <br></h3>
            <h3> <b>•</b>Through this application user can easily contact admin recarding any village issue. <br></h3>
            <h3> <b>•</b>Also helps in gaining information redarding village fairs and festivals</h3>
        </div>

       <center>
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="static/assets/img/features.svg" class="img-fluid" alt="">
          </div>
        </center>
        </div>

      </div>
    </section><!-- End App Features Section -->

   

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title">
          <h2> <b>Gallery</b> </h2>
          
        </div>

        <div class="owl-carousel gallery-carousel" data-aos="fade-up">
          <a href="static/assets/img/gallery/gallery-1.png" class="venobox" data-gall="gallery-carousel"><img src="static/assets/img/gallery/gram5.jpg" alt=""></a>
          <a href="static/assets/img/gallery/gallery-2.png" class="venobox" data-gall="gallery-carousel"><img src="static/assets/img/gallery/Praveen.png" alt=""></a>
          <a href="static/assets/img/gallery/gallery-3.png" class="venobox" data-gall="gallery-carousel"><img src="static/assets/img/gallery/gram2.jpg" alt=""></a>
          <a href="static/assets/img/gallery/gallery-4.png" class="venobox" data-gall="gallery-carousel"><img src="static/assets/img/gallery/gram3.jpg" alt=""></a>
          <a href="static/assets/img/gallery/gallery-5.png" class="venobox" data-gall="gallery-carousel"><img src="static/assets/img/gallery/gram7.jpg" alt=""></a>
          <a href="static/assets/img/gallery/gallery-6.png" class="venobox" data-gall="gallery-carousel"><img src="static/assets/img/gallery/gram6.jpg" alt=""></a>
          <a href="static/assets/img/gallery/gallery-7.png" class="venobox" data-gall="gallery-carousel"><img src="static/assets/img/gallery/logo.jpg" alt=""></a>
          <a href="static/assets/img/gallery/gallery-8.png" class="venobox" data-gall="gallery-carousel"><img src="static/assets/img/gallery/image.jpg" alt=""></a>
          <a href="static/assets/img/gallery/gallery-9.png" class="venobox" data-gall="gallery-carousel"><img src="static/assets/img/gallery/img34.jpg" alt=""></a>
          <a href="static/assets/img/gallery/gallery-10.png" class="venobox" data-gall="gallery-carousel"><img src="static/assets/img/gallery/election.jpg" alt=""></a>
          <a href="static/assets/img/gallery/gallery-11.png" class="venobox" data-gall="gallery-carousel"><img src="static/assets/img/gallery/people.jpg" alt=""></a>
          <a href="static/assets/img/gallery/gallery-12.png" class="venobox" data-gall="gallery-carousel"><img src="static/assets/img/gallery/gram11.jpg" alt=""></a>
        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2> <b>Happy Users</b> </h2>
          
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="fade-up">

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Pavan Patil</h3>
             
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Road Work is good.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="static/assets/img/testimonials/sneha.jpg" class="testimonial-img" alt="">
              <h3>sneha</h3>
              
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                pipelines are working good
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="static/assets/img/testimonials/Shantabai.jpg" class="testimonial-img" alt="">
              <h3>Shantabai</h3>
              
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Water is very clean .
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="static/assets/img/testimonials/arun.jpg" class="testimonial-img" alt="">
              <h3>Arun</h3>
             
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Street lights are working good.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="static/assets/img/testimonials/deepakpic1.jpeg" class="testimonial-img" alt="">
              <h3>Deepak</h3>
             
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Pipelines are working good.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

   

   

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2> <b>Contact</b> </h2>
          
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-6 info" data-aos="fade-up">
                <i class="bx bx-map"></i>
                <h4>Address</h4>
                <p>panchyat address<br>panchyat address</p>
              </div>
              <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-phone"></i>
                <h4>Call Us</h4>
                <p>+19 8552-899-755</p>
              </div>
              <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-envelope"></i>
                <h4>Email Us</h4>
                <p>learning99kartik@example.com</p>
              </div>
              <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-time-five"></i>
                <h4>Working Hours</h4>
                <p>Mon - Fri: 9AM to 5PM<br>Sunday: 9AM to 1PM</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <!-- "forms/contact.php" -->
            <form action="#"  method="post" role="form" class="php-email-form" data-aos="fade-up">
              <div class="form-group">
                <input placeholder="Your Name" type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input placeholder="Your Email" type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input placeholder="Subject" type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea placeholder="Message" class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>GRAM MANAGAMENT SYSTEM</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
      
        Designed by <a href="#">GRAM MANAGAMENT SYSTEM</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>